flows.json
[{"id":"41bb97b6.7ce3a","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"d8bdbcc9.e014d","type":"watson-conversation-v1","z":"41bb97b6.7ce3a","name":"Resto Bot","workspaceid":"7b92b41d-e209-441d-9ee3-9dc8d19ef278","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/b42dc72e-f9f3-468a-8003-b56012d0bd41","timeout":"","optout-learning":false,"x":440,"y":120,"wires":[["86a4657d.67f13"]]},{"id":"6a2f9a00.13122","type":"inject","z":"41bb97b6.7ce3a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hi ","payloadType":"str","x":170,"y":100,"wires":[["d8bdbcc9.e014d"]]},{"id":"ee82f552.1c74f","type":"debug","z":"41bb97b6.7ce3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":160,"wires":[]},{"id":"86a4657d.67f13","type":"function","z":"41bb97b6.7ce3a","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":140,"wires":[["ee82f552.1c74f","86b804c3.955d3","77927e4.ad0f08","205db8d0.9098d8"]]},{"id":"a1a8084b.d597e8","type":"function","z":"41bb97b6.7ce3a","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["d8bdbcc9.e014d","2e787ca0.7ac384"]]},{"id":"e6980d14.d52558","type":"ui_form","z":"41bb97b6.7ce3a","name":"","label":"","group":"530fb84a.416f28","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":300,"wires":[["a1a8084b.d597e8"]]},{"id":"2e787ca0.7ac384","type":"ui_text","z":"41bb97b6.7ce3a","group":"530fb84a.416f28","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":380,"wires":[]},{"id":"86b804c3.955d3","type":"ui_text","z":"41bb97b6.7ce3a","group":"530fb84a.416f28","order":4,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":220,"wires":[]},{"id":"77927e4.ad0f08","type":"ui_audio","z":"41bb97b6.7ce3a","name":"","group":"530fb84a.416f28","voice":"en-US","always":"","x":740,"y":80,"wires":[]},{"id":"205db8d0.9098d8","type":"ui_template","z":"41bb97b6.7ce3a","group":"530fb84a.416f28","name":"","order":6,"width":"6","height":"11","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":120,"wires":[[]]},{"id":"530fb84a.416f28","type":"ui_group","z":"41bb97b6.7ce3a","name":"Chatbot","tab":"1df1b253.52b42e","order":1,"disp":true,"width":"6","collapse":false},{"id":"1df1b253.52b42e","type":"ui_tab","z":"41bb97b6.7ce3a","name":"Resto Bot","icon":"dashboard","disabled":false,"hidden":false}]